<div class="row">
  <div class="col-md-6" style="margin-bottom: 15px">
    <%= render 'shared/new_post' %>
  </div>
  <div class="col-md-6">
    <% @posts.each do |post| %>
      <div class="panel panel-primary">
        <div class="panel-body">
          <%= post.content %>
          <hr />
          <small>Author: <%= post.author.name %></small>
          <small><%= post.created_at%></small>
          <%= button_to("Like", likes_path, method: :post, params: { post: {post_id: post.id } }, class: "btn btn-primary btn-sm pull-right") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
